/* global style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    tab-size: 20px;
    font-weight: bold;
    color: white;
}

/* global style end */


/* header style here */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}

nav{
    width: 71%;
    max-width: 1140px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.span-style{
    color: #FD6E0A;
}

header nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
}


header nav ul li{
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}




/* Header style end */