*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header{
    
    background-color: #FFF8F3;
    background: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.header-section{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 51px;
    align-items: center;
}
.logo h2{
    color: #181818;
    font-weight: 900;
}
.logo h2 span{
    color: #FD6E0A;
}

.manu ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;

}

.manu ul li{
    list-style: none;
    font-size: 20px;
    color: #474747;
}

.manu ul li a{
    text-decoration: none;
}

.manu ul button{
    border: none;
    font-size: 20px;
    color: white;
    padding: 15px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
}

/* header end */

.hero-section{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1300px;
margin: 0 auto;
padding-top: 51px;
}

.content-section{
    max-width: 584px;
}
.content-section h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    /* margin-bottom: 14px; */

}

.content-section h1{
    font-size: 70px;
    color: #181818;
    font-weight: 700;
    /* margin-bottom: 18px; */

}

.content-section p{
    font-size: 18px;
    color: #757575;
    line-height: 25px;
    margin-bottom: 20px;
    

}

.image-section img{
    max-width: 584px;
    vertical-align: middle;
    
}

.content-section button{
    border: none;
    font-size: 20px;
    color: white;
    padding: 15px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
}
/* close hero section*/

.about-me{
    max-width: 1140px;
    background-color: #FFF8F3;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    padding: 131px;
}
.about-me h2{
    margin-bottom: 30px;
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.about-me p{
    font-size: 18px;
    color: #757575;
    list-style: 30px;
    margin-bottom:30px;
}

.information{
    display: flex;
    justify-content: space-between;
    max-width: 782px;
}

.information .one h4{
font-size: 20px;
color: #757575;
margin-bottom: 5px;
}

.information .two h4{
font-size: 20px;
color: #757575;
margin-bottom: 5px;
}

.information .three h4{
font-size: 20px;
color: #757575;
margin-bottom: 5px;
}

.information .four h4{
font-size: 20px;
color: #757575;
margin-bottom: 5px;
}